<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <header>
        <video width="320" height="240" controls>
            <source src=”” type=video/ogg> <source src="/build/videos/arcnet.io(7-sec).mp4" type=video/mp4>
        </video>

        <p>Le changment vous attend</p>
        <img class="Fleche_bas" src="public/img/fleche_bas.png" alt="icone du profil"/>
    </header>
    
</body>
<!--
    <div class="Box1">
        <h1>Découvrez nos nouveaux équipements</h1>
        <div class="Nouveautes">
            <div class Item>
                
            </div>
        </div>
    </div>
--> 
</html>