
    <%- include('./header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="css/accueil.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <%- include('./nav') %>
    <header>
        <video controls>
            <source src=”” type=video/ogg> <source src="" type=video/mp4>
        </video>
        <div class="texte">
            <p>Le changment vous attend</p>
            <a href="#scroll_fleche">⬇️</a>
        </div>
    </header>

    <div class="Box1">
        <div class="texte">
            <h1>Découvrez nos nouveaux équipements</h1>
        </div>
        <div class="Nouveautes">
            <div class="Item">
                <a href="">
                    <img class="image_produit" src="img/Produit.png" alt="image_produit"/>
                </a>
                <h2>Poulies vis-à-vis</h2>
                <h3>160€ /J</h3>
            </div>

            <div class="Item">
                <a href="">
                    <img class="image_produit" src="img/Produit.png" alt="image_produit"/>
                </a>
                <h2>Poulies vis-à-vis</h2>
                <h3>160€ /J</h3>
            </div>

            <div class="Item">
                <a href="">
                    <img class="image_produit" src="img/Produit.png" alt="image_produit"/>
                </a>
                <h2>Poulies vis-à-vis</h2>
                <h3>160€ /J</h3>
            </div>

            <div class="Item">
                <a href="">
                    <img class="image_produit" src="img/Produit.png" alt="image_produit"/>
                </a>
                <h2>Poulies vis-à-vis</h2>
                <h3>160€ /J</h3>
            </div>
        </div>
    </div>
    <div class="Box2" id="scroll_fleche">
        <div class="image">
            <img class="image_fille" src="img/image_box2.png" alt="image d'une fille en train de fare du sport"/>
        </div>
        <div class="texte">
            <h1>L’expérience du sport chez soi</h1>

            <h2>Locfit propose la location de matériel de musculation professionnel, adapté à tous les niveaux. Simplifiez vos entraînements avec des équipements de qualité, sans investissement coûteux.</h2>

            <a href="">Découvrir ></a>
        </div>
    </div>

    <div class="Box3">
        <div class="texte">
            <h1>Notre Ambition</h1>
            <p>Vous permettre d’atteindre votre but par vos propres moyens</p>
        </div>
        <div class="image">
            <img class="image_homme" src="img/image_box3.png" alt="image d'un homme en train de fare du sport"/>
            <div class="block">
                <h1>Changez votre mindset avec Locfit</h1>
            </div>
        </div>
    </div>

    <%- include('./footer') %>
    
</body>
</html>