<%- include('./header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <link rel="stylesheet" href="/css/catalogue.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('./nav') %>

    <div class="Nouveautes">
        <div class="Item">
            <a href="">
                <img class="image_produit" src="/img/Corde_a_sauter/1.avif" alt="image_produit"/>
                <h2>Smith machine</h2>
                <h3>160€ /J</h3>
            </a>
        </div>
    </div>

    <%- include('./footer') %>

</body>
</html>