<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="css/connexion.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('./nav') %> 
    
    <main>
        <div class="login">
            <h1>Connexion</h2>
            <form action="#" method="POST">
               
                <input type="text" id="username" name="identifiant" placeholder="Identifiant" required>
    
                <input type="password" id="password" name="mdp" placeholder="Mot de passe" required>
    
                <button type="submit">Se connecter</button>

                <a href="">Je n'ai pas de compte</a>
            </form>
        </div>
    </main>
    <%- include('./footer') %>
</body>
</html>