<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Profil</title>
    <link rel="stylesheet" href="css/info_profil.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('./nav') %> 
    <main>
        <div class="component">
            <div class="info">
                <p>Nom : Sardou</p>
                <p>Prénom : Sardou</p>
                <p>Date de naissance : Sardou</p>
                <p>Mot de passe : Sardou</p>
                <p>Adresse mail : Sardou</p>
            </div>
            <div class="outils">
                <a href=""><button class="modifier"> Modifier vos informations </button></a>
                <a href=""><button class="deconnexion">Se déconnecter</button></a>
            </div>
        </div>
    </main>
</body>
</html>