<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div id="section1">
            <h1>LOCFIT</h1>
            <p>|</p>
            <a href="">Catalogue</a>
        </div>

        <div id="section2">
            <div id="recherche">
                <img src="img/loupe.png" alt="loupe de recherche">
            </div>
            <p>|</p>
            <a href="">Se Connecter</a>
        </div>
    </nav>

</body>
</html>