<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div id="section1">
            <h1 class="logoNav">LOCFIT</h1>
            <p>|</p>
            <a href="/catalogue">Catalogue</a>
        </div>

        <div id="section2">
            <input type="search" id="recherche" name="q" placeholder="Rechercher" />
            <p>|</p>
            <% if (login == true && role == 'admin'){ %>
                <a class="ajout" href="inscription_admin">
                    <button><p>Ajouter un agent</p></button>
                </a>
                <p>|</p>
            <% } %>
            <% if (login == true){ %>
                <a href="/info_profil"><img src="img/tete.svg" alt=""></a>
                <a href=""><img src="img/panier.svg" alt=""></a>
            <% } else { %>
                <a href="connexion">Se Connecter</a>
            <% } %>
        </div>
    </nav>

</body>
</html>