<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= identifiant %>
    <% if (role == 'client'){ %>
        <h1> <%= role %> </h1>
    <% } %>
       
    <% if (login == true){ %>
        <h1> connecté</h1>
    <% } else{ %>
        <h1> pas connecté</h1>
    <% } %>
</body>
</html>