body{
    
    
    width: 100%;
    color: #F3F3F3;
}

h2{
    color: black;
    font-weight: normal;
}

h3{
    color: black;
    font-weight: normal;
}

.Nouveautes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
   
    margin-top: 75px;
    align-items: center;
    color: #F3F3F3;
}

.product {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    height: 51vh;
    width: 20%;
}

.product a{
    width: auto;
    height: auto;
}

.product .image_produit {
    width: 90%;
    height: auto;
    border-radius: 5%;
}