body{

    width: 100%;
    color: #F3F3F3;
}

h2{
    color: black;
    font-weight: normal;
}

h3{
    color: black;
    font-weight: normal;
}

.Nouveautes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    color: #F3F3F3;
    max-width: 80%;
    margin: 0 auto;
    margin: 10% auto 0 auto;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    height: 51vh;
    width: 100%;
    font-family: KoHo;
}

.product a{
    width: auto;
    height: auto;
}

.product .image_produit {
    width: 90%;
    height: auto;
    border-radius: 5%;
    border: 1px solid black;

}
.cataloguePrice{
    margin-top: 2%;
}