*{
    color: #F1F1F1;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #3C096C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 10;
    position: fixed;

}


#section1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    
}

#section2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    
    
}



h1{
    font-size: 2em;
}

#recherche{
    background-color: #F1F1F1;
    height: 40px;
    width: 500px;
    border-radius: 20px;
    border: transparent;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: black;

}
img{
    height: 20px;
}


.ajout button{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: transparent;
    background-color: #F1F1F1;
    transition: .5s ease-in-out;

}
.ajout button p{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.ajout button:hover{
    cursor: pointer;
    background-color: #3C096C;
    border: solid 2px white;
    scale: 1.05;
   
}

.ajout button:hover p{
    color: white;
}
.logoNav:hover
{
    cursor: pointer;
}