*{
    color: #F1F1F1;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #3C096C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;

}


#section1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    
}

#section2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    
    
}

#section2 p{
   
}

h1{
    font-size: 2em;
}

#recherche{
    background-color: #F1F1F1;
    height: 40px;
    width: 500px;
    border-radius: 20px;
    border: transparent;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: black;

}
img{
    height: 20px;
}