@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.productBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
}

.product {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 60%;
    margin-top: 200px;
}
.left {
    display: flex;
    margin-left: 100px;
    background: none;
    border: none;

}
.left img
{
    width: 35px;
    height: 47px;


            }

.right {
    margin-right: 100px;
    background: none;
    border: none;
}
.right img
{
    width: 35px;
    height: 47px;

}

.left:hover, .right:hover {
    cursor: pointer; /* Change le curseur en mode "cliquable" */
}

.information
{

    background-color: #F2F2F2;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr ;
}
.subtitleProduct{
    font-family: "Afacad", sans-serif;
    font-size: 40px;
    color: #050505;
    font-weight: 400;
    grid-column: 0.1/0.4;
    grid-row: 0.2/0.4;

}
.rightProduct
{
    margin-top: 3%;
    flex-direction: column;
    margin-left: 30%;
    gap: 30px;
    grid-column: 3/5;

}

.btn
{
    grid-column: 2/3;
}




.subtitleProduct2{
    font-family: "Afacad", sans-serif;
    font-size: 42px;
    color: #000000;
    font-weight: 600;
}


.productTitle
{
    font-family: "koho", sans-serif;
    font-size: 64px;
    color: #050505;
    font-weight: 600;
    grid-column: 1/2;
    grid-row: 1/3;
    white-space: nowrap;


}

.productPrice
{
    font-family: "koho", sans-serif;
    font-size: 36px;
    color: #050505;
    font-weight: 600;
    grid-column: 1/2;
    grid-row: 1/3;


}
.productDescription
{
    font-family: "koho", sans-serif;
    font-size: 32px;
    color: #050505;
    font-weight: 300;
    grid-column: 1/3;
    grid-row: 2/5;


}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
    height: 80vh;
    flex: 1;
    width: auto; /* Conserve la largeur originale */
    height: auto;


}
.embla__slide {
    flex: 0 0 90%;
    min-width: 0;
}
.contenuProduct
{
    display: flex;
}
.panierProduct{
    font-size: 1.5em;
    font-family: "koho", sans-serif;
    color: #050505;
    font-weight: 400;

}
.btn{
    font-family: "koho", sans-serif;
    font-weight: 600;
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 1rem;
    margin-top: 7vh;
    padding: 1vh;
    border-radius: 0;
    transition: .15s ease-in-out;
}

.btn:hover{
    background-color: white;
    border-color: black;
    color: black;
    cursor: pointer;
}

.dateProduct{
    font-size: 2rem;
    color: black;
    padding-left: 10px;
}