@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.productBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
}

.product {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 40%;
    margin-top: 400px;
}
.left {
    display: flex;
    margin-left: 100px;
    background: none;
    border: none;

}
.left img
{
    width: 35px;
    height: 47px;


            }

.right {
    margin-right: 100px;
    background: none;
    border: none;
}
.right img
{
    width: 35px;
    height: 47px;

}

.left:hover, .right:hover {
    cursor: pointer; /* Change le curseur en mode "cliquable" */
}

.information
{

    background-color: #F2F2F2;
    display: flex;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
}
.subtitleProduct{
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    color: #050505;
    font-weight: 400;
    margin-left: 80px;
    margin-top: 50px;
}
.rightProduct
{
    margin-top: 3%;
    flex-direction: column;
    margin-left: 30%;
    display: flex;
    gap: 30px;
}
.subtitleProduct2{
    font-family: "Afacad", sans-serif;
    font-size: 42px;
    color: #000000;
    font-weight: 600;
    flex-direction: column;
}



.productTitle
{
    font-family: "koho", sans-serif;
    font-size: 64px;
    color: #050505;
    font-weight: 600;
    margin-left: -105px;
    margin-top: 150px;
}

.productPrice
{
    font-family: "koho", sans-serif;
    font-size: 36px;
    color: #050505;
    font-weight: 600;
    margin-left: -290px;
    margin-top: 290px;
}
.productDescription
{
    font-family: "koho", sans-serif;
    font-size: 32px;
    color: #050505;
    font-weight: 300;
    margin-left: -110px;
    margin-top: 390px;
    margin-bottom: 50px;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 90%;
    min-width: 0;
}
.contenuProduct
{
    display: flex;
}
.panierProduct{
    font-size: 1.5em;
    font-family: "koho", sans-serif;
    color: #050505;
    font-weight: 400;

}
.btn{
    font-family: "koho", sans-serif;
    font-weight: 600;
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 1rem;
    margin-top: 7vh;
    padding: 1vh;
    border-radius: 0;
    transition: .1s ease-in-out;
}

.btn:hover{
    background-color: white;
    border-color: black;
    color: black;
    cursor: pointer;

}

.dateProduct{
    font-size: 2rem;
    color: black;
    padding-left: 10px;

}